<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>

      <!-- Local Resolver Serivce -->
      <service name="System.ServiceModel.PeerResolvers.CustomPeerResolverService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/peerResolverService" />            
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8080/peerResolverService"
                  binding="netTcpBinding"
                  bindingConfiguration="LocalService"
                  contract="System.ServiceModel.PeerResolvers.IPeerResolverContract" />
      </service>
      
      <!-- Remote Service -->      
      <service name ="SmartGridManager.Core.P2P.PeerServices">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082/Remote" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8082/Remote" 
                  binding="netTcpBinding"
                  contract="SmartGridManager.Core.P2P.IPeerServices"
                  bindingConfiguration="netTcpBinding"
          />
      </service>    
    </services>

    <!-- Resolver acts as a Peer -->
    <client>
      <endpoint name="GridEndpoint"
                address="net.p2p://EnergyGrid"
                binding="netPeerTcpBinding"
                bindingConfiguration="BindingCustomResolver"
                contract="SmartGridManager.Core.Messaging.IMessages">
      </endpoint>
    </client>



    <bindings>
        <netPeerTcpBinding>
          <binding name="BindingCustomResolver" port="0">
            <security mode="None" />
            <resolver mode="Custom">
              <custom address = "net.tcp://localhost:8080/peerResolverService"
                    binding="netTcpBinding"
                    bindingConfiguration="Binding3" />
            </resolver>
          </binding>
        </netPeerTcpBinding>      
        
        <netTcpBinding>
          <binding name="LocalService">                   
            <security mode="None"/>
          </binding>
         
          <binding name="netTcpBinding"
                   maxConnections="100"
                   maxBufferPoolSize="10000000"
                   maxReceivedMessageSize="10000000"
                   maxBufferSize="10000000"
                   openTimeout="00:20:00"
                   receiveTimeout="00:30:00"
                   sendTimeout="00:30:00"
                   closeTimeout="00:10:00">
            <security mode="None" />
          </binding>

          <binding name="Binding3">
            <security mode="None"/>
          </binding>

        </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>