<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>

      <client>         
         <endpoint name="GridEndpoint"
                   address="net.p2p://EnergyGrid" 
                   binding="netPeerTcpBinding" 
                   bindingConfiguration="BindingCustomResolver" 
                   contract="SmartGridManager.Core.Messaging.IMessages">
         </endpoint>
         
      </client>

      <bindings>
         <netPeerTcpBinding>            
            <binding name="BindingCustomResolver">
              <security mode="None" />
              <resolver mode="Custom">
                <custom address = "net.tcp://localhost:8080/peerResolverService"
                                binding="netTcpBinding" 
                                bindingConfiguration="Binding3" />
              </resolver>
          </binding>
         </netPeerTcpBinding>

         <netTcpBinding>            
            <binding name="Binding3">
                <security mode="None"/>
            </binding>
         </netTcpBinding>
      </bindings>

   </system.serviceModel>

</configuration>
